@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300);

* {
	margin: 0; padding: 0; box-sizing:border-box;
}

body {
	background-color: #353217;
	text-align: left; 
	color: white; 
	font-weight: 300;
	font-family: 'Roboto Slab', serif;
}

header {
	padding: 2em;
}

p {
	margin-bottom: .75em;
	font-weight: 300;
}

nav a {
	color: white;
	text-decoration: none;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	display: block;
	width: 85px;
	float: left;
	padding: .5em;
	margin: .5em;
}

nav a:hover {
	background-color: #47441f;
}

ul {
	margin-left: 20px;
	margin-bottom: .75em;
}

h1 {
	font-size: 3em;
	font-family: 'Roboto', sans-serif;
}

h2, h3, h4, h5, h6 {
	margin-top: .5em;
	margin-bottom: .75em;
	font-family: 'Roboto', sans-serif;
}

footer {
	background-color: #47441f;
	padding: 20px;
	text-align: center;
	clear: both;
}

footer a {
	margin-right: 20px;
	text-decoration: none;
	color: white;
}

footer a:hover {
	color: yellow;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size:; 0;
	content: " ";
	clear: both;
	height: 0;
}

#wrapper {
	width: 1040px;
}

#Name {
	float: left;
	width: 520px;
}

#scroll {
	display: block;
	float: right;
	width: 440px;
}

#aside {
	text-align: left;
	padding: 2em;
}

#Articles img {
	float: left;
	padding: 22.5px;
}

#articles_links a {
	width: 345px;
	text-decoration: none;
	color: white;
	float: left;
	padding: 22.5px;
}

#about_me {
	background-color: #47441f;
	padding: 20px;
	clear: both;
}

#work_history {
	padding: 20px;
}

#study {
	background-color: #47441f;
	padding: 20px;
}

#contact {
	padding: 20px;
	background-color: #47441f;
}