@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300);

* {
	margin: 0; padding: 0; box-sizing:border-box;
}

body {
	background-color: #353217;
	text-align: left; 
	color: #f3f3f3; 
	font-weight: 300;
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	width: 100%;
}

header {
	padding: 2em;
	width: 100%;
}

p {
	margin-bottom: .75em;
}

nav {
	float: left;
	width: 45%;
}

nav a {
	color: white;
	background-color: #47441f;
	text-decoration: none;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	width: 20%;
	float: right;
	padding: .5em;
	margin: .5em;
}

nav a:hover {
	background-color: white;
	color: #353217;
}

ul {
	margin-left: 1em;
	margin-bottom: .75em;
}

h1 {
	font-size: 3em;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}

h2, h3, h4, h5, h6 {
	margin-top: .5em;
	margin-bottom: .75em;
	font-family: 'Roboto', sans-serif;
}

footer {
	padding: 1em;
	text-align: center;
	clear: both;
	width: 100%;
}

footer a {
	margin-right: 1em;
	text-decoration: none;
	color: white;
}

footer a:hover {
	color: yellow;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size:; 0;
	content: " ";
	clear: both;
	height: 0;
}

#wrapper {
	width: 100%;
}

#Name {
	float: left;
	width: 55%;
}

#hero_image {
	background-image: url("../images/GNB6.jpg") no-repeat left center scroll;
	background-size: cover;
}

#hero_image h2 {
	color: #f3f3f3;
	text-align: right;
	padding-right: 10em;
	padding-bottom: .5em;
	font-size: 2em;
	font-weight: lighter;
	margin: 0;
}

#Performance {
	padding-top: 3.5em;
	display: block;
}


#Twitter {
	float: left;
	width: 33.333%;
	display: block;
	background-color: #47441f;
	text-align: center;
	line-height: 0;
}

#Twitter img {
	max-width: 80px;
}

#Google_Plus {
	float: left;
	width: 33.333%;
	display: block;
	background-color: #47441f;
	text-align: center;
	line-height: 0;
}

#Google_Plus img {
	max-width: 80px;
}

#LinkedIn {
	float: left;
	width: 33.333%;
	display: block;
	background-color: #47441f;
	text-align: center;
	line-height: 0;
}

#LinkedIn img {
	max-width: 80px;
}


#Articles img {
	padding: 1.25em 3em;
	display: block;
	width: 100%;
}

#Articles a {
	text-decoration: none;
	text-align: center;
	color: white;
	padding: 1.25em;
	font-family: 'Roboto', sans-serif;
	display: block;
}

#Blocks {
	width: 33.333%;
	float: left;
}

#Squared {
	width: 33.333%;
	float: left;
}

#Follow {
	width: 33.333%;
	float: left;
}

#about_me {
	background-color: #47441f;
	padding: 1em;
	width: 100%;
	clear: both;
}

#work_history {
	padding: 1em;
	width: 100%;
}

#study {
	background-color: #47441f;
	padding: 1em;
	width: 100%;
}


@media only screen and (max-width: 1010px) {

p, ul {
	font-size: .9em;
}

#scroll {
	font-size: .85em;
}
	
	}


@media only screen and (max-width: 917px) {

#scroll {
	font-size: .8em;
}

#Name {
	font-size: 1em;
}

	}

@media only screen and (max-width: 900px) {

nav a {
	width: 100%;
}

p ul {
	font-size: .8em;
}

#scroll {
	font-size: .85em;
}

#Name {
	display: block;
	width: 100%;
	padding-bottom: 1em;
}

#scroll {
	display: block;
	width: 100%;
	font-size: 1em;
}
	
	}

@media only screen and (max-width: 800px) {

#articles_images img {
	padding: 1.25em 2.5em;
}

	}


@media only screen and (max-width: 700px) {


#Articles_links {
	font-size: .85em
}

#articles_images img {
	padding: 1.25em 2em;
}

	}


@media only screen and (max-width: 600px) {

p, ul {
	font-size: .75em;
}

#Articles_links {
	font-size: .8em
}

#articles_images img {
	padding: 1.25em 1.5em;
}
	
	}


@media only screen and (max-width: 500px) {

#articles_images img {
	padding: 1em 1em;
}

	}


@media only screen and (max-width: 475px) {

h1 {
	font-size: 2.5em;
	text-align: center;
}
	
	}


@media only screen and (max-width: 408px) {

h1 {
	font-size: 2.25em;
	text-align: center;
}

#Articles_links {
	display: none;
}

	}

@media only screen and (min-width: 1280px) {

	body {
		width: 1280px;
		margin: 0 auto;
	}	
}	