@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300);

* {
	margin: 0; padding: 0; box-sizing:border-box;
}

body {
	background-color: #353217; 
	text-align: left; 
	color: white; 
	font-weight: lighter;
}

p {
	margin-bottom: .75em;
	font-family: 'Roboto Slab', serif;
	font-weight: lighter;
}

h1 {
	margin-top: .5em;
	font-family: 'Roboto', sans-serif;
}

h2, h3, h4, h5, h6 {
	margin-top: .5em;
	margin-bottom: .75em;
	font-family: 'Roboto', sans-serif;
}

footer {
	padding: 20px;
	text-align: center;
	font-family: 'Roboto Slab', serif;
}

footer a {
	margin-right: 20px;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
}

footer a:hover {
	color: yellow;
}

img {
	vertical-align: middle;
}

nav a {
	margin-right: 20px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

nav a:hover {
	color: yellow;
}

ul {
	margin-left: 20px;
	margin-bottom: .75em;
	font-family: 'Roboto Slab', serif;
}

a {
	color: white;
}

#slogan {
	margin-top: .5em;
	margin-bottom: .5em;
	font-weight: normal;
}

#hero {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#intro {
	padding: 20px;
	margin-bottom: .75em;
	font-weight: normal;
}

#about_me {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#work_history {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#study {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#contact {
	padding: 20px;
	background-color: #47441f;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

#internal {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

#external {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

#aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

#title {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
