body {background-color: #47441f; text-align: center; font-family: Verdana; color: black;}
#slogan {font-style: italic; text-align: center;}
#links {text-align: left;}
#work_history {text-align: left;}
#about_me {text-align: left;}
#study {text-align: left;}
#contact {text-align: left;}
ul {text-align: left}
a {color: white;}