* {
	margin: 0; padding: 0;
}

body {
	background-color: #47441f; 
	text-align: left; 
	font-family: Verdana; 
	color: white; 
	font-weight: normal;
	margin: 20px;
}

header {
	background-color: black;
	padding: 40px;
	margin: 0;
}

#hero {
	background-color: black;
	margin: 0;
}

#slogan {
	font-style: italic; 
}

#links {
}

#work_history {
}

#about_me {
}

#study {
}

#contact {
}

ul {
}

a {
	color: white;
}